{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'jquery.min_3.2.1.js' %}"></script>
    {% include "order_functions.js" %}
    {% block extrahead %}
    <!-- Put at least the page title here in derived templates: <title>here</title> -->
    {% endblock %}
  </head>

  <body>
  {% block shared_content %}
    <div id=header style='height: 3em;'>
    {% include "logo.html" %}
    {% load menu %}
    {% generate_menu %}
    {% with menu=menus.main %}{% include "menu.html" %}{% endwith %}
    </div>
  {% endblock %}

  <style>
    div#page-wrapper {
      font-family: "Lato", Arial, sans-serif;
      font-weight: 400;
    }
  </style>
  

  <div id=page-wrapper>
    {% block content %}
    {% endblock %}
  </div>

  </body>
</html>
