{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'jquery.min_3.2.1.js' %}"></script>
  {% include "order_functions.js" %} {% block extrahead %}
  <!-- Put at least the page title here in derived templates: <title>here</title> -->
  {% endblock %}
</head>

<body>
  {% block shared_content %}
  <nav class="head">
  <div id="header" class="wrapper header-main">
    {% include "logo.html" %} {% load menu %} {% generate_menu %} {% with menu=menus.main %}{% include "menu1.html" %}{% endwith %}
  </div>
  </nav>
  {% endblock %}



  <div id="page-wrapper" class="wrapper">
    {% block content %} {% endblock %}
  </div>

</body>

</html>