{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'jquery.min_3.2.1.js' %}"></script>
  {% include "order_functions.js" %} {% block extrahead %}
  <!-- Put at least the page title here in derived templates: <title>here</title> -->
  {% endblock %}
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <link href="{% static 'bootstrap/js/bootstrap.min.js' %}" rel="stylesheet">
</head>

<body>
  {% block shared_content %}
  <div id="header" class="wrapper ">
      <div class="container navbar-grad">
          <div class="custom-nav">
    {% include "logo.html" %} {% load menu %} {% generate_menu %} {% with menu=menus.main %}{% include "menu1.html" %}{% endwith %}
          </div>
    </div>
  </div>
  {% endblock %}



  <div id="page-wrapper" class="wrapper">
    {% block content %} {% endblock %}
  </div>

</body>

</html>