{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <title>Buy Book</title>
{% endblock %}


{% block content %}
<hr>

<div id='item-container' style='text-align: center;'>
{% for item in items %}
    <div style='display: inline-block; width: 30%; text-align: center;'>
        Img: <img src="{% static item.img %}" width='20%'>
        Name: {{ item.name }}<br>
        Description: {{ item.desc }}<br>
        Price: {{item.price}}
        <input type='button' onclick='AddToCart("{{item.name}}")' value='Add to Cart'>
    </div>
{% endfor %}
</div>

{% endblock %}
