{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="{% static 'mdb/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdb/js/mdb.min.js' %}" rel="stylesheet">
    <title>Buy Book</title>
{% endblock %}

{% block content %}
    <div class="wrapper-banner wrapper-banner-book">
        <h2>
            <font class="wrapper-banner-title sample-title">Buy the Book Here</font>
        </h2>
        <h3 class="buy-book-content">
            <font>
                You can buy a pdf or paperback version of the book here.<br> If you prefer <strong>Amazon Kindle</strong> you
                can <a class="blog-link" href="https://www.amazon.com/Meditation-Mind-Body-Course-Mentored-ebook/dp/B078J11FTM/" target="_blank">buy the Kindle version from Amazon.</a>
            </font>
        </h3>

        <div class="book-list">
            {% for item in items %}
                <div class="card ovf-hidden position">
                    <!--Card image-->
                    <div class="view overlay position">
                        <img src="{% static item.img %}" class="img-fluid position" alt="Book">
                    </div>
                    <!--Card content-->
                    <div class="card-body position">
                        <h4 class="card-title">{{ item.name }}</h4>
                        <h5 class="card-title">${{ item.price }}</h5>
                        <hr>
                        <p class="card-text">{{ item.desc }}</p>
                        <input class="btn btn-primary btn-md" type='button' onclick='AddToCart("{{item.name}}")' value='Add to Cart'>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
