{% extends "base1.html" %} {% load static %} {% block content %}

<div id="local-header">
    <div class="inner-header">
        <h2 class="header-head">
            <font size="6">Meditation,<br />Mind and Body</font>
        </h2>

        <div class="header-content">A 12-week self-study or mentored meditation course</div>
    </div>
</div>
<!-- local-header -->

<div id="main-wrap" class="content-wrap container">
    <div class="wsite-section-content">
        <div class="container">
            <div class="wsite-elements wsite-not-footer">
                <table id="blogTable" class="wsite-not-footer">
                    <tr>
                        <td valign="top">
                            <div id="345812524595284492-blog" class="blog-body">
                                <div id="wsite-content">
                                    <div id="blog-post-395101946319538110" class="blog-post">


                                        <div class="blog-header">
                                            <h2 class="blog-title">
                                                <a class="blog-title-link blog-link" href="//meditate.jivanamara.net/home/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course">The book﻿ "Meditation, Mind and Body" can be used for self-study or as part of a mentored 12-week meditation course.</a>

                                            </h2>
                                            <p class="blog-date">
                                                <span class="date-text">
        10/11/2017
    </span>

                                            </p>
                                            <p class="blog-comments">
                                                <a href="//meditate.jivanamara.net/home/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course#comments"
                                                    class="blog-link">
        0 Comments
    </a>

                                            </p>
                                        </div>

                                        <div class="blog-separator">&nbsp;</div>

                                        <div class="blog-content">
                                            <div class="paragraph">If you're truly interested in developing a healing and transformative meditation
                                                practice, this book is a great option.&nbsp; Written as a series of 12 chapters
                                                with each chapter guiding and deepening your practice using a different form
                                                of meditation for that week.&nbsp; You'll need to commit 10-20 minutes twice
                                                a day.&nbsp; Each chapter provides clear instructions focusing on a different
                                                element of meditation or meditative practices.&nbsp; At the end of the course
                                                you will have the basis of a steady practice and a good idea what particular
                                                meditative practices are best suited for you.<br /><br /><a href="/why-meditate.html">Why Meditate?</a><br
                                                /><br />While the book references meditation practices from various traditions
                                                it is non-denominational, requiring no adoption of religious beliefs.&nbsp;
                                                I encourage you to try it and see first-hand if it's valuable.&nbsp; Returns
                                                are accepted within 30 days on all purchases.<br /><br />Mentoring is available
                                                for those that would like support to develop a solid practice.&nbsp; For
                                                those planning on 20 minutes or more per day and interested in a significant
                                                amount of support, "Deep Diving" mentoring is arranged for two 30-minute
                                                video chat sessions per week, one toward the beginning of each week to make
                                                sure you get off on the right foot and the second toward the middle of each
                                                week to make sure you're understanding and getting the most out of your meditation
                                                sessions with personalized suggestions based on your experience.<br /><br
                                                />For those that just need a little help and someone encouraging them to
                                                stick with the practice, there's "Check-In" mentoring for one 15-minute videochat
                                                session per week.<br /><br />Select "Buy Book" or "Subscribe to Mentoring"
                                                respectively from top menu.<br />All purchases are 100% satisfaction guaranteed.&nbsp;
                                                If you aren't satisfied, let me know within 30 days of your purchase and
                                                you will get a full refund.<br /><br />For those interested in mentoring
                                                but in financial hardship payment can be waived.&nbsp; Get in touch using
                                                the contact form on the right.<br /><br />
                                                <font size="6"><a href="/why-meditate.html">Why Meditate?</a></font><br /></div>

                                        </div>


                                        <div class="blog-social  ">
                                            <div class="blog-social-item blog-fb-like">
                                                <fb:like href="http://meditate.jivanamara.net/1/post/2017/10/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course.html"
                                                    width="90" layout="button_count" action="like" show_faces="false" share="false"></fb:like>
                                            </div>
                                            <div class="blog-social-item"><a class="twitter-share-button" href="http://twitter.com/share?url=http://meditate.jivanamara.net/1/post/2017/10/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course.html"
                                                    data-text="The book﻿ &quot;Meditation, Mind and Body&quot; can be used for self-study or as part of a mentored 12-week meditation course. - Meditation, Mind and Body"
                                                    data-count="horizontal"></a></div>
                                            <div style="clear:both"></div>
                                        </div>


                                        <div class="blog-comments-bottom">
                                            <a href="//meditate.jivanamara.net/home/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course#comments"
                                                class="blog-link">
        0 Comments
    </a>

                                        </div>

                                        <div class="blog-post-separator"></div>
                                    </div>


                                    <!-- bid: $blog_id -->
                                </div>
                            </div>

                        </td>
                        <td class="blog-sidebar" valign="top">
                            <div id="345812524595284492-sidebar" class="column-blog">
                                <div class="blog-sidebar-separator">
                                    <ul id="345812524595284492-sidebar-list" class="columnlist-blog">
                                        <p class="blog-feed-link">
                                            <link href="" rel="alternate" type="application/rss+xml" title="RSS" />
                                            <a href="/1/feed">
        <img src="//cdn2.editmysite.com/images/old/bg_feed.gif" />
        RSS Feed
    </a>
                                        </p>

                                        <div>
                                            <form enctype="multipart/form-data" action="//www.weebly.com/weebly/apps/formSubmit.php" method="POST" id="form-483420069957214226">
                                                <div id="483420069957214226-form-parent" class="wsite-form-container">
                                                    <ul class="formlist" id="483420069957214226-form-list">
                                                        <h2 class="wsite-content-title">Contact Jivan<br /></h2>

                                                        <div>
                                                            <div class="wsite-form-field wsite-name-field">
                                                                <label class="wsite-form-label" for="input-954231642903097320">Name <span class="form-required">*</span></label>
                                                                <div style="clear:both;"></div>
                                                                <div class="wsite-form-input-container wsite-form-left wsite-form-input-first-name">
                                                                    <input id="input-954231642903097320" class="wsite-form-input wsite-input" type="text" name="_u954231642903097320[first]"
                                                                    />
                                                                    <label class="wsite-form-sublabel" for="input-954231642903097320">First</label>
                                                                </div>
                                                                <div class="wsite-form-input-container wsite-form-right wsite-form-input-last-name">
                                                                    <input id="input-954231642903097320-1" class="wsite-form-input wsite-input" type="text" name="_u954231642903097320[last]"
                                                                    />
                                                                    <label class="wsite-form-sublabel" for="input-954231642903097320-1">Last</label>
                                                                </div>
                                                                <div id="instructions-954231642903097320" class="wsite-form-instructions"></div>
                                                            </div>
                                                            <div style="clear:both;"></div>
                                                        </div>

                                                        <div>
                                                            <div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
                                                                <label class="wsite-form-label" for="input-717964076967319692">Email <span class="form-required">*</span></label>
                                                                <div class="wsite-form-input-container">
                                                                    <input id="input-717964076967319692" class="wsite-form-input wsite-input wsite-input-width-370px" type="text" name="_u717964076967319692"
                                                                    />
                                                                </div>
                                                                <div id="instructions-717964076967319692" class="wsite-form-instructions" style="display:none;"></div>
                                                            </div>
                                                        </div>

                                                        <div>
                                                            <div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
                                                                <label class="wsite-form-label" for="input-868599085175912398">Comment <span class="form-required">*</span></label>
                                                                <div class="wsite-form-input-container">
                                                                    <textarea id="input-868599085175912398" class="wsite-form-input wsite-input wsite-input-width-370px" name="_u868599085175912398"
                                                                        style="height: 200px"></textarea>
                                                                </div>
                                                                <div id="instructions-868599085175912398" class="wsite-form-instructions" style="display:none;"></div>
                                                            </div>
                                                        </div>
                                                    </ul>
                                                </div>
                                                <div style="display:none; visibility:hidden;">
                                                    <input type="text" name="wsite_subject" />
                                                </div>
                                                <div style="text-align:left; margin-top:10px; margin-bottom:0px;">
                                                    <input type="hidden" name="form_version" value="2" />
                                                    <input type="hidden" name="wsite_approved" id="wsite-approved" value="approved" />
                                                    <input type="hidden" name="ucfid" value="483420069957214226" />
                                                    <input type="hidden" name="recaptcha_token" />
                                                    <input type="submit" style="position:absolute;top:0;left:-9999px;width:1px;height:1px" />
                                                    <a class="wsite-button">
                            <span class="wsite-button-inner">Submit</span>
                        </a>
                                                </div>
                                            </form>
                                            <div id="g-recaptcha-483420069957214226" class="recaptcha" data-size="invisible" data-recaptcha="0" data-sitekey="6Ldf5h8UAAAAAJFJhN6x2OfZqBvANPQcnPa8eb1C"></div>


                                        </div>
                                    </ul>
                                </div>
                            </div>

                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<!-- end main-wrap -->

<!-- footer-wrap -->
<div id="footer-wrap">
    <div class='wsite-elements wsite-footer'>
        <div>
            <div class="wsite-multicol">
                <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                    <table class="wsite-multicol-table">
                        <tbody class="wsite-multicol-tbody">
                            <tr class="wsite-multicol-tr">
                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                    <div class="wsite-spacer" style="height:50px;"></div>



                                </td>
                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                    <div class="wsite-spacer" style="height:50px;"></div>



                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end footer-wrap -->


<!-- end wrapper -->

<!-- JavaScript -->
<script type="text/javascript" src="/files/theme/plugins.js"></script>
<script type="text/javascript" src="/files/theme/custom.js"></script>
<script type="text/javascript" src="/files/theme/mobile.js"></script>


<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7870337-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    _W.Analytics = _W.Analytics || { 'trackers': {} };
    _W.Analytics.trackers.wGA = '_gaq';

</script>

<script type="text/javascript" async=1>
    ; (function (p, l, o, w, i, n, g) {
        if (!p[i]) {
        p.GlobalSnowplowNamespace = p.GlobalSnowplowNamespace || [];
            p.GlobalSnowplowNamespace.push(i); p[i] = function () {                
(p[i].q = p[i].q || []).push(arguments)
            }; p[i].q = p[i].q || []; n = l.createElement(o); g = l.getElementsByTagName(o)[0]; n.async = 1;
            n.src = w; g.parentNode.insertBefore(n, g)
        }
    }(window, document, 'script', '//cdn2.editmysite.com/js/wsnbn/snowday262.js', 'snowday'));

    var r = [99, 104, 101, 99, 107, 111, 117, 116, 46, 40, 119, 101, 101, 98, 108, 121, 124, 101, 100, 105, 116, 109, 121, 115, 105, 116, 101, 41, 46, 99, 111, 109];
    var snPlObR = function (arr) {
        var s = '';
        for (var i = 0; i < arr.length; i++) {
            s = s + String.fromCharCode(arr[i]);
        }
        return s;
    };
    var s = snPlObR(r);

    var regEx = new RegExp(s);

    _W.Analytics = _W.Analytics || { 'trackers': {} };
    _W.Analytics.trackers.wSP = 'snowday';
    _W.Analytics.user_id = '113116883';
    _W.Analytics.site_id = '529209629803367381';


    (function (app_id, ec_hostname, discover_root_domain) {
        var track = window[_W.Analytics.trackers.wSP];
        if (!track) return;
        track('newTracker', app_id, ec_hostname, {
            appId: app_id,
            post: true,
            platform: 'web',
            discoverRootDomain: discover_root_domain,
            cookieName: '_snow_',
            contexts: {
                webPage: true,
                performanceTiming: true,
                gaCookies: true
            },
            crossDomainLinker: function (linkElement) {
                return regEx.test(linkElement.href);
            }
        });
        track('trackPageView', _W.Analytics.user_id + ':' + _W.Analytics.site_id);
        track('crossDomainLinker', function (linkElement) {
            return regEx.test(linkElement.href);
        });
    })(
        '_wn',
        'ec.editmysite.com',
        true
        );

</script>

<!-- Quantcast Tag -->
<script type="text/javascript">
    var _qevents = _qevents || [];

    (function () {
        var elem = document.createElement('script');
        elem.src = "https://secure.quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
        qacct: "p-0dYLvhSGGqUWo",
        labels: "l15,u113116883.u113116883s529209629803367381"
    });

</script>

<noscript>
    <div style="display:none;">
        <img src="//pixel.quantserve.com/pixel/p-0dYLvhSGGqUWo.gif?labels=l15,u113116883.u113116883s529209629803367381" border="0"
            height="1" width="1" alt="Quantcast" />
    </div>
</noscript>
<!-- End Quantcast tag -->

<!-- Stripe Tag -->
<script src='https://js.stripe.com/v2/'></script>
<script>
    Stripe.setPublishableKey('pk_live_Rbz3gE7QG7hskhi6EdeCgpd7');
</script>
<!-- End Stripe tag -->

<script>
    (function (jQuery) {
        try {
            if (jQuery) {
                jQuery('div.blog-social div.fb-like').attr('class', 'blog-social-item blog-fb-like');
                var $commentFrame = jQuery('#commentArea iframe');
                if ($commentFrame.length > 0) {
                    var frameHeight = jQuery($commentFrame[0].contentWindow.document).height() + 50;
                    $commentFrame.css('min-height', frameHeight + 'px');
                }
                if (jQuery('.product-button').length > 0) {
                    jQuery(document).ready(function () {
                        jQuery('.product-button').parent().each(function (index, product) {
                            if (jQuery(product).attr('target') == 'paypal') {
                                if (!jQuery(product).find('> [name="bn"]').length) {
                                    jQuery('<input>').attr({
                                        type: 'hidden',
                                        name: 'bn',
                                        value: 'DragAndDropBuil_SP_EC'
                                    }).appendTo(product);
                                }
                            }
                        });
                    });
                }
            }
            else {
                // Prototype
                $$('div.blog-social div.fb-like').each(function (div) {
                    div.className = 'blog-social-item blog-fb-like';
                });
                $$('#commentArea iframe').each(function (iframe) {
                    iframe.style.minHeight = '410px';
                });
            }
        }
        catch (ex) { }
    })(window._W && _W.jQuery);

</script>
<div id="eu-cookie" class="notification" style="display: none;">
    <span id="eu-cookie-content"></span>
    <span id="eu-cookie-close">&#10005;</span>
</div>

<script type="text/javascript">
    (function ($) {
        window.cookie_location = '';
        // this cookie_content should already be pre-encoded from CookieSettingView.js
        window.cookie_content = '' || _W.stl('templates.publish.virtual-includes.footerCode_1');
        window.cookie_policy_key = '529209629803367381_cookie_policy';
        window.cookie_content_hash = '';

        if (!_W.getCookie(window.cookie_policy_key) || _W.getCookie(window.cookie_policy_key) !== window.cookie_content_hash) {
            if (window.cookie_location === 'top' || window.cookie_location === 'bottom') {
                $('#eu-cookie-content').text(decodeURIComponent(window.cookie_content));
                (window.cookie_location === 'top') ? animateFromTop() : animateFromBottom();
                $('#eu-cookie').show();
            }
        }

        $('#eu-cookie-close').click(function () {
            _W.setCookie(window.cookie_policy_key, window.cookie_content_hash, 100000);
            $('#eu-cookie').hide();
        });

        function animateFromTop() {
            $('#eu-cookie').css({
                'top': '0px',
                'animation': 'reveal-top 1 2s'
            });
        }

        function animateFromBottom() {
            $('#eu-cookie').css({
                'bottom': '0px',
                'animation': 'reveal-bottom 1 2s'
            });
        }
    })(window._W && _W.jQuery);

</script>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '190291501407',
            xfbml: true,
            version: 'v2.6'
        });

        // Set Facebook comment plugin's colorscheme based off of theme
        var comments = document.getElementsByClassName('facebook-comment-widget'),
            scheme = document.body.className.match('wsite-theme-light');

        for (var i = 0; i < comments.length; i++) {
            comments[i].setAttribute('colorscheme', scheme ? 'light' : 'dark');
        }

        var fbCommentCounts;

        FB.Event.subscribe('xfbml.render', function () {
            fbCommentCounts = jQuery('.fb_comments_count');
            for (var i = 0; i < fbCommentCounts.length; i++) {
                var commentText = (jQuery(fbCommentCounts[i]).text() == '1' ? "Comment" : "Comments");
                jQuery(fbCommentCounts[i]).parent().siblings('.fb_comment_count_label').text(commentText);
            }
        });

        var comment_callback = function (res) {
            FB.XFBML.parse(); // Refresh comment counters on page
        }

        FB.Event.subscribe('comment.create', comment_callback);
        FB.Event.subscribe('comment.remove', comment_callback);

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/" + _W.facebookLocale + "/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
<script type='text/javascript'>
    (function () {
        function j(src, id) {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = src;
            if (id) { s.id = id };
            document.getElementsByTagName('head')[0].appendChild(s);
        }
        j('//platform.twi' + 'tter.com/widgets.js');
    })()

</script>

{% endblock %}