{% extends "base.html" %} 
{% load static %} 

{% block extrahead %}
    <title>Meditation, Mind and Body</title>
{% endblock %} 

{% block content %}
    <div id="local-header" class="local-header">
        <div class="inner-header">
            <h2 class="header-head">
                <font class="banner-title">Meditation,<br />Mind and Body</font>
            </h2>
            <div class="header-content">A 12-week self-study or mentored meditation course</div>
        </div>
    </div>
    
    <div id="main-wrap" class="container content-wrap position">
        <div class="wsite-section-content">
            <div class="wsite-elements wsite-not-footer">
                <div id="blogTable" class="row wsite-not-footer">
                    <div class="col-md-9 content-home position">
                        <div id="345812524595284492-blog" class="blog-body">
                            <div id="wsite-content">
                                <div id="blog-post-395101946319538110" class="blog-post">
                                    <div class="blog-header">
                                        <h2 class="blog-title">
                                            <a class="blog-link blog-title-link" href="//meditate.jivanamara.net/home/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course">The book﻿ "Meditation, Mind and Body" can be used for self-study or as part of a mentored 12-week meditation course.</a>
                                        </h2>
                                        <p class="blog-date">
                                            <span class="date-text">
                                                10/11/2017
                                            </span> &nbsp;&nbsp;
                                            <span class="blog-comments">
                                                    <a class="blog-link" href="//meditate.jivanamara.net/home/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course#comments">0 Comments</a>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="blog-separator">&nbsp;</div>
                                    
                                    <div class="blog-content">
                                        <div class="paragraph">
                                            If you're truly interested in developing a healing and transformative meditation practice,
                                            this book is a great option.&nbsp; Written as a series of 12 chapters with each chapter
                                            guiding and deepening your practice using a different form of meditation for that
                                            week.&nbsp; You'll need to commit 10-20 minutes twice a day.&nbsp; Each chapter provides
                                            clear instructions focusing on a different element of meditation or meditative practices.&nbsp;
                                            At the end of the course you will have the basis of a steady practice and a good
                                            idea what particular meditative practices are best suited for you.<br /><br />
                                            <a class="blog-link" href="/why_meditate">Why Meditate?</a><br /><br />While
                                            the book references meditation practices from various traditions it is non-denominational,
                                            requiring no adoption of religious beliefs.&nbsp; I encourage you to try it and see
                                            first-hand if it's valuable.&nbsp; Returns are accepted within 30 days on all purchases.<br />
                                            <br />Mentoring is available for those that would like support to develop a solid
                                            practice.&nbsp; For those planning on 20 minutes or more per day and interested in
                                            a significant amount of support, "Deep Diving" mentoring is arranged for two 30-minute
                                            video chat sessions per week, one toward the beginning of each week to make sure
                                            you get off on the right foot and the second toward the middle of each week to make
                                            sure you're understanding and getting the most out of your meditation sessions with
                                            personalized suggestions based on your experience.<br /><br />For those that just
                                            need a little help and someone encouraging them to stick with the practice, there's
                                            "Check-In" mentoring for one 15-minute videochat session per week.<br /><br />Select
                                            "Buy Book" or "Subscribe to Mentoring" respectively from top menu.<br />All purchases
                                            are 100% satisfaction guaranteed.&nbsp; If you aren't satisfied, let me know within
                                            30 days of your purchase and you will get a full refund.<br /><br />For those interested
                                            in mentoring but in financial hardship payment can be waived.&nbsp; Get in touch
                                            using the contact form on the right.<br /><br />
                                            <font size="6"><a class="blog-link" href="/why_meditate">Why Meditate?</a></font><br />
                                        </div>
                                    </div>

                                    <div class="blog-social">
                                        <div class="blog-social-item blog-fb-like">
                                            <fb:like href="http://meditate.jivanamara.net/1/post/2017/10/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course.html"
                                                width="90" layout="button_count" action="like" show_faces="false" share="false"></fb:like>
                                        </div>
                                        <div class="blog-social-item"><a class="twitter-share-button" href="http://twitter.com/share?url=http://meditate.jivanamara.net/1/post/2017/10/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course.html"
                                                data-text="The book﻿ &quot;Meditation, Mind and Body&quot; can be used for self-study or as part of a mentored 12-week meditation course. - Meditation, Mind and Body"
                                                data-count="horizontal"></a></div>
                                        <div style="clear:both"></div>
                                    </div>
                                    <div class="blog-comments-bottom">
                                        <a href="//meditate.jivanamara.net/home/the-book-meditation-mind-and-body-can-be-used-for-self-study-or-as-part-of-a-mentored-12-week-meditation-course#comments"
                                            class="blog-link">0 Comments
                                        </a>
                                    </div>
                                    <div class="blog-post-separator"></div>
                                </div>
                                <!-- bid: $blog_id -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 position contact-form">
                        <div id="345812524595284492-sidebar" class="column-blog">
                            <div class="blog-sidebar-separator">
                                <ul id="345812524595284492-sidebar-list" class="columnlist-blog">
                                    <p class="blog-feed-link">
                                        <link href="" rel="alternate" type="application/rss+xml" title="RSS" />
                                        <a class="blog-link rss-feed" href="/1/feed">
                                            <img src="//cdn2.editmysite.com/images/old/bg_feed.gif" />RSS Feed
                                        </a>
                                    </p>

                                    <div>
                                        <form enctype="multipart/form-data" action="//www.weebly.com/weebly/apps/formSubmit.php" method="POST" id="form-483420069957214226">
                                            <div id="483420069957214226-form-parent" class="wsite-form-container">
                                                <ul class="formlist" id="483420069957214226-form-list">
                                                    <h2 class="wsite-content-title">Contact Jivan<br /></h2>
                                                    <em><label class="custom-label"><span class="form-required">*</span> Indicates required field</label></em>
                                                    <div class="form-group">
                                                        <label class="col-form-label" for="input-954231642903097320">Name<span class="form-required">*</span></label>
                                                        <div class="row">
                                                            <div class="col-6 position">
                                                                <input id="input-954231642903097320" class="form-control" type="text" name="_u954231642903097320[first]" placeholder="First" required />
                                                            </div>
                                                            <div class="col-6 position">
                                                                <input id="input-954231642903097320-1" class="form-control" type="text" name="_u954231642903097320[last]" placeholder="Last" required />
                                                                <div id="instructions-954231642903097320" class="wsite-form-instructions"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-form-label" for="input-717964076967319692">Email <span class="form-required">*</span></label>
                                                        <input id="input-717964076967319692" class="form-control position" type="email" name="_u717964076967319692" placeholder="you@example.com" required />
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-form-label" for="input-868599085175912398">Comment <span class="form-required">*</span></label>
                                                        <textarea id="input-868599085175912398" class="form-control" name="_u868599085175912398" row="10" required></textarea>
                                                    </div>
                                                </ul>
                                            </div>
                                            <div style="display:none; visibility:hidden;">
                                                <input type="text" name="wsite_subject" />
                                            </div>
                                            <div style="text-align:left; margin-top:10px; margin-bottom:0px;">
                                                <input type="hidden" name="form_version" value="2" />
                                                <input type="hidden" name="wsite_approved" id="wsite-approved" value="approved" />
                                                <input type="hidden" name="ucfid" value="483420069957214226" />
                                                <input type="hidden" name="recaptcha_token" />
                                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                                            </div>
                                        </form>
                                        <div id="g-recaptcha-483420069957214226" class="recaptcha" data-size="invisible" data-recaptcha="0" data-sitekey="6Ldf5h8UAAAAAJFJhN6x2OfZqBvANPQcnPa8eb1C"></div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src="{% static 'js/home/twitterwidgets.js' %}"></script>
{% endblock %}
