{% load static %}

<style>
  .header-logo {
    float: left;
    width: 8%;
  }

  .header-logo img {
    padding: 0;
    display: inline-block;
    max-width: 350px;
    max-height: 75px;

    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 26px 16px;
  }

  .header-logo-cond img {
    margin: 7px 16px 0px 25px;
    height: 50px;
  }

  @media (max-width: 940px) {
    .header-logo {
      display: none;
    }
  }
</style>
<div id="logo" class="header-logo">
  <img src="{% static 'img/Meditation_Sculpture.jpg' %}">
</div>