{% load static %}

<div id="topmenu" class="top-menu">
    <span class="menu" id="menu">
        <img src="{% static 'img/menu1.png' %}" alt="">
    </span>
    <ul id="nav1" class="nav1">
        {% for item in menu %}
            <li class="navbar-grad"><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div id="logoinmenu" class="logo-in-menu">
    <img src="{% static 'img/Meditation_Sculpture.jpg' %}">
</div>

<div id="cart" class="cart">
    <div id="cartin" class="cart-in">
        <a href="{% url 'order_summary' %}"> 
            <img class="cart-icon" src="{% static 'img/cart.png' %}"> 
            <div class="order-count" id='OrderCount'>0</div>
        </a>
    </div>
</div>
<div class="clearfix"></div>

<script>
    $("span.menu").click(function () {
        $("ul.nav1").slideToggle(300, function () {
            // Animation complete.
        });
    });
</script>
<script>
    window.onscroll = function () {
        var headermain = document.getElementById('header');
        var nav = document.getElementById('nav1');
        var headerlogo = document.getElementById('logo');
        var menu = document.getElementById('menu');
        var topmenu = document.getElementById('topmenu');
        var logomenu = document.getElementById('logoinmenu');
        var cart = document.getElementById('cart');
        var cartin = document.getElementById('cartin');

        if (window.pageYOffset > 60) {
            headermain.classList.add("header-main-cond");
            nav.classList.add("nav1-cond");
            headerlogo.classList.add("header-logo-cond");
            menu.classList.add("menu-cond");
            topmenu.classList.add("top-menu-cond");
            logomenu.classList.add("logo-in-menu-cond");
            cart.classList.add("cart-cond");
            cartin.classList.add("cart-in-cont");
        }
        else {
            headermain.classList.remove("header-main-cond");
            nav.classList.remove("nav1-cond");
            headerlogo.classList.remove("header-logo-cond");
            menu.classList.remove("menu-cond");
            topmenu.classList.remove("top-menu-cond");
            logomenu.classList.remove("logo-in-menu-cond");
            cart.classList.remove("cart-cond");
            cartin.classList.remove("cart-in-cont");
        }
    }
</script>

<script type='text/javascript'>
    updateOrderCount();
</script>
