{% extends "base.html" %}

{% block extrahead %}
    <title>Thank You For Your Order</title>
{% endblock %}

{% block content %}
    <div class="wrapper-cart">
        <h3 class="cart-heading">
            <font class="wrapper-banner-title sample-title">Meditation, Mind and Body</font>
        </h3>
        <div class="blog-content">
            <h3 class="payment-success">Thanks for your payment, your order number is: {{order_number}}.</h3>
            <h3 class="continue-link"><a href='/'>Return to homepage</a></h3>
        </div>
    </div>
{% endblock %}
