{% extends "base.html" %} 
{% load static %}
<!-- Expects context params: "order", base.html expects "request" -->

{% block extrahead %}
    <title>Your Order</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script type="text/javascript">
        var haveAddress = false;

        var itemTotals = {};
        $(function() {
            {% for item in order.orderitem_set.all %}
                itemTotals[{{item.saleItem.id}}] = {{item.saleItem.price}} * {{item.count}};
            {% endfor %}
            UpdateOrderTotal();
        });
            
        function AddToCartLocal(saleItemName, saleItemId) {
            // Adds an item to the cart & updates the count displayed in the order summary
            //  as well as the cart total items.
            function afterAddToCart() {
                // This is to replace the displayed count for this item with the current value.
                urlTemplate = '{% url "single_item_count" "saleItemNamePlaceholder" %}';
                singleItemCountUrl = urlTemplate.replace('saleItemNamePlaceholder', saleItemName);

                $.ajax({
                    type: 'GET',
                    url: singleItemCountUrl,
                    success: function(responsedata) {
                        updateOrderCount();
                        countId = 'sale_item_' + saleItemId;
                        el = document.getElementById(countId);
                        el.innerHTML = responsedata.count;
                        itemTotals[saleItemId] = responsedata.count * responsedata.price;
                        UpdateOrderTotal();
                    },
                    error: function( jqXHR, textStatus, errorThrown ) {
                        var msg = `Unable to add "${saleItemName}" to cart`; 
                        alert(msg); // TODO: Remove this.

                        var logUrl = '{% url "log_javascript" "msgPlaceholder" %}';
                        logUrl = logUrl.replace('msgPlaceholder', msg);
                        $.ajax({
                            type: 'GET',
                            url: logUrl,
                        });
                    }
                });
            }
            // This adds an item to the cart & updates the cart total.
            AddToCart(saleItemName, callback=afterAddToCart);
        }
            
        function RemoveFromCartLocal(saleItemName, saleItemId) {
            // Removes an item from the cart & updates the count displayed in the order summary
            //  as well as the cart total items.
            function afterRemoveFromCart() {
                // This is to replace the displayed count for this item with the current value.
                urlTemplate = '{% url "single_item_count" "saleItemNamePlaceholder" %}';
                singleItemCountUrl = urlTemplate.replace('saleItemNamePlaceholder', saleItemName);

                $.ajax({
                    type: 'GET',
                    url: singleItemCountUrl,
                    success: function(responsedata) {
                        updateOrderCount();
                        countId = 'sale_item_' + saleItemId;
                        el = document.getElementById(countId);
                        el.innerHTML = responsedata.count;
                        // console.log(responsedata.count === 0)
                        if(responsedata.count === 0) {
                            //console.log('-->')
                            $(`#si_${saleItemId}`).css("display", "none");
                        }
                        
                        itemTotals[saleItemId] = responsedata.count * responsedata.price;
                        UpdateOrderTotal();
                    },
                    error: function( jqXHR, textStatus, errorThrown ) {
                        var msg = `Unable to add "${saleItemName}" to cart`;
                        alert(msg); // TODO: Remove this.

                        var logUrl = '{% url "log_javascript" "msgPlaceholder" %}';
                        logUrl = logUrl.replace('msgPlaceholder', msg);
                        $.ajax({
                            type: 'GET',
                            url: logUrl,
                        });
                    }
                });
            }
            // This removes an item from the cart on the back end & updates the cart total.
            RemoveFromCart(saleItemName, callback=afterRemoveFromCart);
        }

        function getOrderTotal() {
            var orderTotal = 0;
            Object.keys(itemTotals).forEach(function(key) {
                orderTotal += itemTotals[key]; // itemTotals is in dollars, convert to cents.
            });
            //console.log(orderTotal)          // sometimes results in value error in javascript
            return parseFloat(orderTotal.toFixed(2));   //to solve any error with value formatting
        }

        function UpdateOrderTotal() {
            // Returns the total price of the entire cart. 
            total = getOrderTotal();
            var el = document.getElementById('total');
            totalText = '$' + total + ' (USD)';
            el.innerHTML = totalText;
        }

        function setOrderAddress(callback, async=true) {
            var addressUrl = '{% url "set_order_address" %}';
            var csrf = Cookies.get("csrftoken");

            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var phone = document.getElementById('phone').value;
            var addr1 = document.getElementById('addr1').value;
            var addr2 = document.getElementById('addr2').value;
            var city = document.getElementById('city').value;
            var state = document.getElementById('state').value;
            var country = document.getElementById('country').value;
            var zip = document.getElementById('zip').value;

            var addrData = {
                    'name': name, 'email': email, 'phone': phone, 'addr1': addr1, 'addr2': addr2,
                    'city': city, 'state': state, 'country': country, 'zip': zip
            };
            
            var addrDataWithCsrf = Object.assign({}, addrData);
            addrDataWithCsrf.csrfmiddlewaretoken = csrf;

            // Colors address fields red if they're invalid
            function colorAddressFields(invalidInputs) {
                $.each(invalidInputs, function(fieldId, invalidFlag) {
                    console.log(fieldId, invalidFlag);
                    console.log($(fieldId));
                    labelId = '#lbl-' + fieldId;
                    if (invalidFlag) {
                        $(labelId).css('color', 'red');
                    } else {
                        $(labelId).css('color', 'black');
                    }
                });
            }

            $.ajax({
                type: 'POST',
                url: addressUrl,
                data: addrDataWithCsrf,
                async: async,
                success: function(respData, textStatus, jqXHR) {
                    if (jqXHR.status == 201) {
                        // This will uncolor any previously invalid highlighted
                        colorAddressFields({});
                        haveAddress = true;
                        callback();
                    } else if (jqXHR.status == 200) {
                        colorAddressFields(respData.invalid);
                    } else {
                        alert('Unexpected result status: ' + textStatus);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var msg = `Unexpected problem (` + textStatus + `) ` + errorThrown;
                    alert(msg); // TODO: Remove this.

                    var logUrl = '{% url "log_javascript" "msgPlaceholder" %}';
                    logUrl = logUrl.replace('msgPlaceholder', msg);
                    $.ajax({
                        type: 'GET',
                        url: logUrl,
                    });
                    
                    callback();
                }
            });
        }
        
        function notifyAddressProblem() {
            var msg = 'You need to provide a valid address before checking out.';
            console.log(msg);
//            alert(msg);
        }

        function addressRequired() {
            var addressRequired = false;
                                    
            $(".cart-item").each(function(idx){
                if ($(this).hasClass("needsAddress")) {
                    addressRequired = true;
                    return false;
                }
            });

            return addressRequired;
        }

        function canCheckout() {
            var needAddress = addressRequired();
            if (needAddress && !haveAddress) {
                return false;
            } else {
                return true;
            }
        }

    </script>
{% endblock %} 

{% block content %}
    <div class="wrapper-cart">
        <h3 class="cart-heading">
            <font class="wrapper-banner-title sample-title">Shopping Cart</font>
        </h3>
        <div id="orderContent" class="contents">
            <div class="row table-heading">
                <div class="col-md-2 col-sm-3 col-3 item-image text-center position">
                    ITEMS
                </div>
                <div class="col-md-4 col-sm-6 col-5 description position">
                </div>
                <div class="col-md-2 price text-center position">
                    PRICE
                </div>
                <div class="col-md-2 quantity text-center position">
                    QTY
                </div>
                <div class="col-md-2 col-sm-3 col-4 total text-center position">
                    TOTAL
                </div>
            </div>
            <hr>             
            {% for item in order.orderitem_set.all %}
                {% if item.count %}
                    <div id="si_{{item.saleItem.id}}" class="cart-item row table-contents {% if item.saleItem.needsAddress %}needsAddress{% endif %}">
                        <div class="col-md-2 col-sm-3 col-3 item-image text-center position">
                            <img class="cart-img" src='{% static item.saleItem.img %}'></img>
                        </div>
                        <div class="col-md-4 col-sm-6 col-5 description position">
                            <u>Meditation, Mind and Body ({{item.saleItem.name}})</u>
                            <br>
                            <input type='button' id="upButton" class='custom-button button-add' onclick='AddToCartLocal("{{item.saleItem.name}}", {{item.saleItem.id}})'>&nbsp;
                            <input type='button' id="downButton" class='custom-button button-remove' onclick='RemoveFromCartLocal("{{item.saleItem.name}}", {{item.saleItem.id}})'>
                        </div>
                        <div class="col-md-2 price text-center position">
                            ${{item.saleItem.price}}
                        </div>
                        <div class="col-md-2 quantity text-center position">
                            <input type='button' id="upButton" class='custom-button button-add' onclick='AddToCartLocal("{{item.saleItem.name}}", {{item.saleItem.id}})'>&nbsp;
                            <input type='button' id="downButton" class='custom-button button-remove' onclick='RemoveFromCartLocal("{{item.saleItem.name}}", {{item.saleItem.id}})'>
                        </div>
                        <div class="col-md-2 col-sm-3 col-4 total text-center position">
                                <span class="item-price">${{item.saleItem.price}}</span> * 
                                <span id="sale_item_{{item.saleItem.id}}" class="item-count">{{item.count}}</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <hr style="border-top: dashed 1.5px; color: #a9a9a9;" />

            <div id='address'>
                Please note that your email and phone are optional, but at least one method of
                contacting you is recommende7d in case of a problem with your order.
                
                <label id="lbl-name" for="name">Name:</label>
                <input id="name" name="name">
                <label id="lbl-email" for="email">Email:</label>
                <input id="email" type="email" name="email">
                <label id="lbl-phone" for="phone">Phone:</label>
                <input id="phone" type="tel" name="phone">
                <label id="lbl-addr1" for="addr1">Address 1:</label>
                <input id="addr1" name="addr1">
                <label id="lbl-addr2" for="addr2">Address 2:</label>
                <input id="addr2" name="addr2">
                <label id="lbl-city" for="city">City:</label>
                <input id="city" name="city">
                <label id="lbl-state" for="state">State:</label>
                <input id="state" name="state">
                <label id="lbl-country" for="country">Country:</label>
                <input id="country" name="country">
                <label id="lbl-zip" for="zip">Zip/Postal Code:</label>
                <input id="zip" name="zip">
            </div>

            <div id='payment' class="float-right payment">
                Subtotal &emsp; <span id='total'>$0.00</span>
            </div>
            <div class="clearfix"></div>
            
            <button id="customStripeButton" class="btn btn-secondary float-right checkout"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;CHECKOUT W/ CARD</button>
            <div class="float-right custom-margin">
                <div id="paypal-button-container"></div>
            </div>
        
            <div class="clearfix"></div>
            <div class="text mt-4"><em>*I take your privacy very seriously.  Using these two highly-secure payment services,
                my website never sees your payment details, only a notification that you've paid.  Even
                if someone was able to hack my website, your financial details would not be compromised.</em>
            </div>
        </div>
        
        <div id="emptyCart" class="empty-checkout-content">
            <h3>Your Shopping Cart is empty. Go to the buy page and add the books to your cart.</h3>
            <h3 class="continue-link"><a href="/buy_book">Continue shopping</a></h3>
        </div>
        
        <!------------------------------- STRIPE-SPECIFIC CODE --------------------------------------->
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var handler = StripeCheckout.configure({
            key: 'pk_test_AnHLc2bnR0joVD20uza73MI5',
            image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
            locale: 'auto',
            token: function(token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
                var orderTotal = parseFloat((getOrderTotal()*100).toFixed(0))       // Total in USD cents and fix any formatting error.
                var url = '{% url "stripe_charge" %}';
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {'csrfmiddlewaretoken': csrftoken, 'stripeToken': token.id, 'amount': orderTotal},
                    success: function(responseData){
                        window.location = '{% url "order_complete" %}';
                    },
                    error: function( jqXHR, textStatus, errorThrown ) {
                        var msg = "Problem w/ Stripe Charge: " + textStatus + "-" + errorThrown;
                        window.alert(msg); // TODO: Remove

                        var logUrl = '{% url "log_javascript" "msgPlaceholder" %}';
                        logUrl = logUrl.replace('msgPlaceholder', msg);
                        $.ajax({
                            type: 'GET',
                            url: logUrl,
                        });
                    },
                });
              }
            });

            document.getElementById('customStripeButton').addEventListener('click', function(e) {

                setOrderAddress(function(){
                    if (!canCheckout()) {
                        notifyAddressProblem();
                        return;
                    }

                    // Open Checkout with further options:
                    handler.open({
                        name: 'JivanAmara.net',
                        description: 'Your Order',
                        zipCode: true,
                        amount: parseFloat((getOrderTotal()*100).toFixed(0))
                    });

                    e.preventDefault();
                });

            });

            // Close Checkout on page navigation:
            window.addEventListener('popstate', function() {
            handler.close();
            });
        </script>

        <!------------------------------- PAYPAL-SPECIFIC CODE --------------------------------------->

        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script>
            function recordPayPalPayment(paymentId, amount) {
                var url = '{% url "paypal_charge" %}';
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {'csrfmiddlewaretoken': csrftoken, 'paymentId': paymentId, 'amount': amount},
                    success: function(responseData){
                        console.log('ajax success');
                        window.location = '{% url "order_complete" %}';
                    },
                    error: function( jqXHR, textStatus, errorThrown ) {
                        var msg = "Something went wrong: " + textStatus + "-" + errorThrown;
                        window.alert(msg);  // TODO: Remove

                        var logUrl = '{% url "log_javascript" "msgPlaceholder" %}';
                        logUrl = logUrl.replace('msgPlaceholder', msg);
                        $.ajax({
                            type: 'GET',
                            url: logUrl,
                        });
                    }
                });
            }

            paypal.Button.render({
                env: 'sandbox', // sandbox | production
                // PayPal Client IDs
                // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                client: {
                    sandbox: 'AUMc2uxkRjLdFPlZGRkOIKI_D3TINTeQF6sncwR-tXZKF2gyUHsEFsjdJ74iWvkLO0ia4FOu4REEj1ky',
                    production: 'ARyE8lRZLRbg0XHFMw1EmZwV1b1GtxLzhZYM_H-Q5mXaMuoi-iQn-Cah2iSBwhVBiO6v46g6puH0VVc9'
                },

                // Show the buyer a 'Pay Now' button in the checkout flow
                commit: true,
                // payment() is called when the button is clicked
                payment: function(data, actions) {
                    var paymentObject = null;
                    
                    setOrderAddress(function(){
                        if (!canCheckout()) {
                            notifyAddressProblem();
                            return;
                        }

                        // Create a payment object with the current order total.
                        var p = {
                            payment: {
                                transactions: [
                                    { amount: { total: getOrderTotal(), currency: 'USD' } }
                                ]
                            }
                        };

                        // Make a call to the REST api to create the payment
                        paymentObject = actions.payment.create(p)
                    }, false);
                    
                    return paymentObject
                },

                // onAuthorize() is called when the buyer approves the payment
                onAuthorize: function(data, actions) {
                    // Make a call to the REST api to execute the payment
                    return actions.payment.execute().then(function() {
                        var amount = getOrderTotal();
                        var paymentId = data.paymentID;
                        recordPayPalPayment(paymentId, amount);
                    });
                }
            }, '#paypal-button-container');
        </script>
    </div>
{% endblock %}
