{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <title>Thank You For Your Order</title>
{% endblock %}

{% block content %}
    <div class="wrapper-cart">
        <h3 class="cart-heading">
            <font class="wrapper-banner-title sample-title">Meditation, Mind and Body</font>
        </h3>

        <p>Thanks for your interest, your order number is: <i>{{order_number}}</i>.</p>

        <div>
          <p>
            Downloadable items will appear as links below.  Links can be used for one week.
          </p>

          <ul>
          {% for i in order.orderitem_set.all %}
            <li>
            {% if i.saleItem.downloadable %}
              ({{i.count}}) <a href="{{request.scheme}}://{{request.get_host}}{% static 'downloads/' %}{{order.downloadKey}}/{{i.saleItem.downloadable.name}}">{{i.saleItem.name}} (click to view/download)</a>
            {% else %}
              {{i.saleItem.name}}
            {% endif %}
            </li>
          {% endfor %}

          {% for i in downloadable_items %}
            <div>You can download {{i.name}}
          {% endfor %}

        </div>
        <h3 class="continue-link"><a href='/'>Return to homepage</a></h3>
    </div>
{% endblock %}
