{% extends "base.html" %}
{% load static %}
<!-- Expects context params: "order", base.html expects "request" -->

{% block extrahead %}
    <title>Your Order</title>
    <style>
        table {
            margin-left: auto;
            margin-right: auto;
        }
        .order_item {
            text-align: center;
        }

        input.button-add > img, input.button-remove > img {
            height: 1em;
        }

        input.button-add {
          background: url({% static "img/up-arrow.png" %});
        }
        input.button-remove {
          background: url({% static "img/down-arrow.png" %});
        }
        input.button-add, input.button-remove {
          background-size: cover;
          background-color: transparent; /* make the button transparent */
          background-repeat: no-repeat;  /* make the background image appear only once */
          background-position: 0px 0px;  /* equivalent to 'top left' */
          border: none;           /* assuming we don't want any borders */
          cursor: pointer;        /* make the cursor like hovering over an <a> element */
        }
    </style>

    {% include "order_functions.html" %}

    <script type="text/javascript">
        var itemTotals = {};
        
        $(function() {
            {% for item in order.orderitem_set.all %}
            itemTotals[{{item.saleItem.id}}] = {{item.saleItem.price}} * {{item.count}};
            {% endfor %}
            
            UpdateOrderTotal();
        });
        
        function AddToCartLocal(saleItemName, saleItemId) {
           // Adds an item to the cart & updates the count displayed in the order summary
           //  as well as the cart total items.

           function afterAddToCart() {
             // This is to replace the displayed count for this item with the current value.
             urlTemplate = '{% url "single_item_count" "saleItemNamePlaceholder" %}';
             singleItemCountUrl = urlTemplate.replace('saleItemNamePlaceholder', saleItemName);

             $.ajax({
                type: 'GET',
                url: singleItemCountUrl,
                success: function(responsedata) {
                    updateOrderCount();
                    countId = 'sale_item_' + saleItemId;
                    el = document.getElementById(countId);
                    el.innerHTML = responsedata.count;
                    itemTotals[saleItemId] = responsedata.count * responsedata.price;
                    UpdateOrderTotal();
                },
                failure: function(XMLHttpRequest, textStatus, errorThrown) {
                    var msg = `Unable to add "${saleItemName}" to cart` 
                    alert(msg); // TODO: Remove this.

                    var logUrl = '{% url "log_javascript" "msgPlaceholder" %}'
                    logUrl = logUrl.replace('msgPlaceholder', msg)
                    $.ajax({
                        type: 'GET',
                        url: logUrl,
                    });
                }
             });
           }

            // This adds an item to the cart & updates the cart total.
            AddToCart(saleItemName, callback=afterAddToCart);
        }
        
        function RemoveFromCartLocal(saleItemName, saleItemId) {
           // Removes an item from the cart & updates the count displayed in the order summary
           //  as well as the cart total items.

           function afterRemoveFromCart() {
             // This is to replace the displayed count for this item with the current value.
             urlTemplate = '{% url "single_item_count" "saleItemNamePlaceholder" %}';
             singleItemCountUrl = urlTemplate.replace('saleItemNamePlaceholder', saleItemName);

             $.ajax({
                type: 'GET',
                url: singleItemCountUrl,
                success: function(responsedata) {
                    updateOrderCount();
                    countId = 'sale_item_' + saleItemId;
                    el = document.getElementById(countId);
                    el.innerHTML = responsedata.count;
                    itemTotals[saleItemId] = responsedata.count * responsedata.price;
                    UpdateOrderTotal();
                },
                failure: function(XMLHttpRequest, textStatus, errorThrown) {
                    var msg = `Unable to add "${saleItemName}" to cart` 
                    alert(msg); // TODO: Remove this.

                    var logUrl = '{% url "log_javascript" "msgPlaceholder" %}'
                    logUrl = logUrl.replace('msgPlaceholder', msg)
                    $.ajax({
                        type: 'GET',
                        url: logUrl,
                    });
                }
             });
           }

            // This removes an item from the cart on the back end & updates the cart total.
            RemoveFromCart(saleItemName, callback=afterRemoveFromCart);
        }

        function getOrderTotal() {
            var orderTotal = 0;
            Object.keys(itemTotals).forEach(function(key) {
                orderTotal += itemTotals[key]; // itemTotals is in dollars, convert to cents.
            });
            return orderTotal;
        }

        function UpdateOrderTotal() {
            // Returns the total price of the entire cart. 
            total = getOrderTotal();

            var el = document.getElementById('total');
            totalText = '$' + total + ' (USD)';
            el.innerHTML = totalText;
        }
    </script>
{% endblock %}


{% block content %}
    <hr>
    <div id='items'>
    {% for item in order.orderitem_set.all %}
        <div class='order_item'>
            <div><b>{{item.saleItem.name}}</b></div>
            <div>${{item.saleItem.price}}</div>
            <div>
              <span>Item Total: ${{item.saleItem.price}} * </span>
              <span id="sale_item_{{item.saleItem.id}}">{{item.count}}</span>
            </div>
            <input type='button' class='button-add b'
                onclick='AddToCartLocal("{{item.saleItem.name}}", {{item.saleItem.id}})'>

            <input type='button' class='b button-remove'
                onclick='RemoveFromCartLocal("{{item.saleItem.name}}", {{item.saleItem.id}})'>

            <table>
              <tr>
                <tc>
                  <td>
                    widget here
                  </td>
                </tc>
                <tc>
                  <td>
                      <img src='{% static item.saleItem.img %}'></img>
                  </td>
                </tc>
              </tr>
            </table>
        </div>
    {% endfor %}
    </div>
    
    <div id='payment'>
        Your total: <span id='total'>$0.00</span>
        <input type='button' value='Check Out w/ PayPal'>
        <input type='button' value='Check Out w/ Stripe'>

        <div>I take your privacy very seriously.  Using these two highly-secure payment services,
        my website never sees your payment details, only a notification that you've paid.  Even
        if someone was able to hack my website, your financial details would not be compromised.
        </div>
    </div>


<!------------------------------- STRIPE-SPECIFIC CODE --------------------------------------->
<script src="https://checkout.stripe.com/checkout.js"></script>

<button id="customButton">Purchase</button>

<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var handler = StripeCheckout.configure({
  key: 'pk_test_AnHLc2bnR0joVD20uza73MI5',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
    var orderTotal = getOrderTotal() * 100; // Total in USD cents.
    
    var url = '{% url "stripe_charge" %}';
    var csrftoken = getCookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: url,
        data: {'csrfmiddlewaretoken': csrftoken, 'stripeToken': token.id, 'amount': orderTotal},
        success: function(responseData){
            window.location = '{% url "order_complete" %}';
        },
        failure: function(responseData){
            window.alert("Something went wrong: " + responseData);
        }
    });
  }
});

document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'JivanAmara.net',
    description: 'Your Order',
    zipCode: true,
    amount: getOrderTotal() * 100
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>


<!------------------------------- PAYPAL-SPECIFIC CODE --------------------------------------->
    <div id="paypal-button-container">HERE IS PAYPAL!!!</div>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        function recordPayPalPayment(paymentId, amount) {
            var url = '{% url "paypal_charge" %}';
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: 'POST',
                url: url,
                data: {'csrfmiddlewaretoken': csrftoken, 'paymentId': paymentId, 'amount': amount},
                success: function(responseData){
                    console.log('ajax success');
                    window.location = '{% url "order_complete" %}';
                },
                failure: function(responseData){
                    console.log('ajax failure');
                    window.alert("Something went wrong: " + responseData);
                }
            });
        }

        paypal.Button.render({
            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox: 'AUMc2uxkRjLdFPlZGRkOIKI_D3TINTeQF6sncwR-tXZKF2gyUHsEFsjdJ74iWvkLO0ia4FOu4REEj1ky',
                production: 'ARyE8lRZLRbg0XHFMw1EmZwV1b1GtxLzhZYM_H-Q5mXaMuoi-iQn-Cah2iSBwhVBiO6v46g6puH0VVc9'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {
                // Create a payment object with the current order total.
                var p = {
                    payment: {
                        transactions: [
                            { amount: { total: getOrderTotal(), currency: 'USD' } }
                        ]
                    }
                };

                // Make a call to the REST api to create the payment
                return actions.payment.create(p)
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {
                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    var amount = getOrderTotal();
                    var paymentId = data.paymentID;
                    recordPayPalPayment(paymentId, amount);
                });
            }

        }, '#paypal-button-container');

    </script>

{% endblock %}
