{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <title>Meditation, Mind and Body</title>
{% endblock %}

{% block content %}
		<div class="wrapper-banner">
        <h2>
            <a href="{% url 'reflections' %}"><font class="wrapper-banner-title">Reflections</font></a>
        </h2>

        <div class="wrapper-banner-content">
					{% for reflection in reflections %}
					<div id="{{reflection.id}}" class="blog-post">
					  <div class="blog-header">
					      <h2 class="blog-title">
					         <a class="blog-link blog-title-link" href="{% url 'single_reflection' reflection.title_slug %}">{{reflection.title}}</a>
					      </h2>
					      <p class="blog-date">
					         <span class="date-text">{{reflection.pub_time}}</span>
					         <span class="blog-comments"></span>
					      </p>
					   </div>
					   <div class="blog-separator"> </div>
					   <div class="blog-content">
					      {{reflection.content|safe}}
					   </div>
					   <div class="blog-social">
					      <div class="blog-social-item">
                  <a class="twitter-share-button"
                    href="https://twitter.com/intent/tweet"
    			          data-text="{{reflection.title}} {{ request.build_absolute_uri }}{{ object.get_absolute_url }}/{{reflection.title_slug}}"
					          data-count="horizontal"></a>
                </div>
					      <div style="clear:both"></div>
					   </div>
					</div>
					<hr>
					{% endfor %}
					</div>
        </div>
    </div>
{% endblock %}
