{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <title>Meditation, Mind and Body</title>
{% endblock %}

{% block content %}
    <!-- <div id="local-header" class="local-header">
        <div class="inner-header">
            <h2 class="header-head">
                <font class="banner-title">Meditation,<br />Mind and Body</font>
            </h2>
            <div class="header-content">A 12-week self-study or mentored meditation course</div>
        </div>
    </div> -->

		<div class="wrapper-banner">
        <h2>
            <font class="wrapper-banner-title">Reflections</font>
        </h2>

        <div class="wrapper-banner-content">
					{% for reflection in reflections %}
					<div id="{{reflection.id}}" class="blog-post">
					   <div class="blog-header">
					      <h2 class="blog-title">
					         <a class="blog-link blog-title-link" href="{{reflection.link}}">{{reflection.title}}</a>
					      </h2>
					      <p class="blog-date">
					         <span class="date-text">{{reflection.pub_time}}</span>
					         <span class="blog-comments"></span>
					      </p>
					   </div>
					   <div class="blog-separator"> </div>
					   <div class="blog-content">
					      {{reflection.content|safe}}
					   </div>
					   <div class="blog-social">
					      <div class="blog-social-item blog-fb-like">
					         <fb:like href="{{reflection.link}}"
					            width="90" layout="button_count" action="like" show_faces="false" share="false"></fb:like>
					      </div>
					      <div class="blog-social-item"><a class="twitter-share-button" href="{{reflection.url}}"
					         data-text="The book﻿ &quot;Meditation, Mind and Body&quot; can be used for self-study or as part of a mentored 12-week meditation course. - Meditation, Mind and Body"
					         data-count="horizontal"></a></div>
					      <div style="clear:both"></div>
					   </div>
					</div>
					<hr>
					{% endfor %}
					</div>
        </div>
    </div>

		<script type='text/javascript' src="{% static 'js/home/twitterwidgets.js' %}"></script>
{% endblock %}
