{% extends "base.html" %}

{% block extrahead %}

{% endblock %}

{% block content %}
    <form action='{% url "stripe_charge" %}' method="POST">
      {% csrf_token %}
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_AnHLc2bnR0joVD20uza73MI5"
        data-name="JivanAmara.net"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true">
      </script>
    </form>
{% endblock %}
