{% extends "base.html" %} {% load static %} {% block extrahead %}
<title>Why Meditate</title>
{% endblock %} {% block content %}

<div id="local-header" class="local-header-meditate">
  <div class="inner-header">
    <h2 class="header-head">
      <font class="banner-title-meditate">Why Meditate?</font>
    </h2>
  </div>
</div>

<div class="wrapper-banner wrapper-banner-meditate">
  <p>People become interested in meditation for various reasons. Some have heard that it can reduce stress and anxiety and would
    like to reap those benefits. Some have heard of the science that demonstrates healthful rewiring of the brain and even
    increase in grey matter. Others have heard of the subtle and sublime experiences that can be had in meditative states.</p>

  <p>All of these and many more are valid reasons to approach meditation and meditation can deliver. I like to emphasize first-hand
    experience over second-hand knowledge but for those that need a little nudge to try it out, Giovanni Dienstmann has put
    together an <a class="meditate-post-link" href="https://liveanddare.com/benefits-of-meditation/" target="_blank">excellent post</a> on the scientific
    studies that have been done on meditation, with references. If your concern is that there's not really anything special
    about meditation and what you're hearing is just hype his post should put that to rest quickly and decisively.</p>

  <p>Regardless of why you want to learn to meditate or what you want to get out of it, there are fundamentals that underlie
    all meditative practices. For starters, if you want your practice to have some benefit you will have to meditate regularly.
    It takes a commitment and there's no way around it. The good news is that most people are able to see positive results
    within three weeks meditating 20 minutes per day.</p>

  <p>The variety of meditative techniques out there can be overwhelming. This book leads you through the fundamentals of meditation
    common to all meditative practices, then takes you through most of the major categories of meditative techniques. By
    the end of the course you'll have established a solid practice and have an excellent idea what particular technique you
    are best suited to. Be aware, this book isn't for learning <em class="emphasize">about</em> meditation, it's for learning <em class="emphasize">to meditate</em>. Chapters
    are short and concise instructions on what to do during your time on your meditation cushion.</p>

  <p>For those that need help sticking to a program and those that are interested in going more deeply I offer mentoring. Mentoring
    can help to keep you on track, ensure that you aren't wasting time through misunderstanding the techniques, and take
    advantage of opportunities specific to your practice to go more deeply.</p>

  <p>If you can commit 20-40 minutes a day, I encourage you to take the opportunity to experience first-hand the benefits of
    meditation.</p>
</div>

<!-- footer-wrap -->
<div id="footer-wrap">
  <div class="row footer">
    <div class="col-md-6 col-sm-6">
      <div style="height:50px;"></div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div style="height:50px;"></div>
    </div>
  </div>
</div>
<!-- end footer-wrap -->

{% endblock %}